.contents-component{
    overflow: auto;
    height:13%;
}

@media screen and (max-width:576px){
    .row-mobile__card{
        height: 100%;
    }

    .row__card{
        margin-right:0;
        margin-left:0;
    }

    .contents-component{
        height: 100%;
    }

}